<!-- <div class="container"> 
    <div class="row justify-content-evenly">   
        <div *ngFor="let p of products$ | async; let i = index" class="card" style="width: 15rem;">
            <div class="col">
            <img [src]="p.imageUrl" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{p.title}}</h5>
                    <p class="card-text">${{p.price}}</p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>  
            <div *ngIf="(i+2) % 2 === 0" class="w-100"></div>
        </div> 
    </div>
</div> -->

<div class="row">
    <div class="col-3">
        <product-filter [category]="category"></product-filter>   
    </div>
    <div class="col">
        <div class="row">  
            <ng-container *ngFor="let p of filteredProduct; let i = index">
                <div class="col">
                   <product-card [product]="p" [shopping-cart]="cart"></product-card>
                </div>
                <div *ngIf="(i+1) % 2 === 0" class="w-100"></div>
            </ng-container>
           
        </div>
    </div>
</div>